### Types and Objects, p. 33

In [2]:
s1 = "123123"

In [3]:
s2 = "123123"

In [4]:
id(s1)

62539960

In [5]:
s1 is s2

True

In [6]:
id(s2)

62539960

In [7]:
s1 == s2

True

In [8]:
type(s1) == type(s2)

True

In [9]:
type(s1)

builtins.str

In [12]:
type(s1) == str

True

In [14]:
isinstance(s1, (str, bytes))

True

In [15]:
Exception

builtins.Exception

In [17]:
RuntimeError

builtins.RuntimeError

In [20]:
issubclass(int, (jjj))

False

In [21]:
RuntimeError.__bases__

(builtins.Exception,)

In [23]:
class RuntimeError(Exception):
    pass

In [24]:
RuntimeError.__bases__

(builtins.Exception,)

### Garbage collection, ref counting

In [25]:
import gc

In [26]:
a = {}
b = {}
a['b'] = b
b['a'] = a

In [27]:
a

{'b': {'a': {...}}}

In [28]:
b

{'a': {'b': {...}}}

In [32]:
a = _27

In [34]:
a['b'] = None

In [35]:
a

{'b': None}

In [3]:
import sys
var1 = [1,2,3]
var2 = var1
# will always be 1 more than expected,
# as the "object" object is counted as a reference
sys.getrefcount(var2)

3

### Mutability of sets, tuples, lists, etc.

In [37]:
l = [1, 2]
t = (2, 3)
s = {3, 4}

In [39]:
d = {}
d['key'] = 'hello'
d

{'key': 'hello'}

In [40]:
d[t] = 'Earth'

In [41]:
d

{(2, 3): 'Earth', 'key': 'hello'}

In [42]:
fs = frozenset([(1, 2), (4, 5), (6, 4)])

In [43]:
fs

frozenset([(1, 2), (4, 5), (6, 4)])

In [44]:
d[fs] = "Flying Pizza"

In [45]:
d

{(2, 3): 'Earth',
 frozenset([(1, 2), (4, 5), (6, 4)]): 'Flying Pizza',
 'key': 'hello'}

In [46]:
d[fs]

'Flying Pizza'

In [47]:
fs

frozenset([(1, 2), (4, 5), (6, 4)])

In [50]:
d[frozenset({(1, 2), (6, 4), (4, 5)})]

'Flying Pizza'

In [51]:
frozenset({(1, 2), (6, 4), (4, 5)})

frozenset([(4, 5), (6, 4), (1, 2)])

In [55]:
list(d.keys())[1]

frozenset([(1, 2), (4, 5), (6, 4)])

In [56]:
a =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
len(a)

10

In [58]:
a[::2]

[0, 2, 4, 6, 8]

In [59]:
a[::-2]

[9, 7, 5, 3, 1]

In [60]:
a[0:5:2]

[0, 2, 4]

In [61]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
a[6:0:-2]

[6, 4, 2]

In [65]:
a[:5:-1]

[9, 8, 7, 6]

In [69]:
a[5::-1]

[5, 4, 3, 2, 1, 0]

In [73]:
"Hello"[::2]

'Hlo'

In [74]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
a[3:6] = [33, 44]

In [77]:
a

[0, 1, 2, 33, 44, 6, 7, 8, 9]

In [81]:
a[2:8:2] = ['a', 'b', 'c']

In [82]:
a

[0, 1, 'a', 33, 'b', 6, 'c', 8, 9]

In [84]:
"Hello"[::2] = "boo"

TypeError: 'str' object does not support item assignment

In [85]:
a = list(range(10))

In [86]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Operations on seq

In [87]:
len(a)

10

In [88]:
min(a)

0

In [89]:
max(a)

9

In [94]:
sum(a)

45

In [1]:
sum(["a", "b"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [96]:
all(a)

False

In [97]:
any(a)

True

In [98]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
all([x + 1 for x in a])

True

In [113]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
a.count(1)

1

In [115]:
a.index(8)

8

In [125]:
a2 = [11, 22, 33, 44, 55]
[(i, x)  for i, x in enumerate(a2)  if x % 2]

[(0, 11), (2, 33), (4, 55)]

In [126]:
a.extend([44, 55])

In [128]:
a += [66, 77]

In [160]:
a.reverse()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 55, 66, 77]

In [161]:
a[::-1]

[77, 66, 55, 44, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [163]:
a.sort()

In [164]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 55, 66, 77]

### Sorting

In [4]:
s = [('Robert', 'Bourget'),
     ('Alexandre', 'Bourget'),
     ('maria', 'Alcide'),
     ('Benoit', 'Xavier')]

In [5]:
s.sort()

In [6]:
s

[('Alexandre', 'Bourget'),
 ('Benoit', 'Xavier'),
 ('Robert', 'Bourget'),
 ('maria', 'Alcide')]

In [177]:
def go(x):
    return x + 5

go = lambda x: x + 5
go

In [171]:
callable(go)

True

In [172]:
callable(min)

True

In [173]:
callable("my string")

False

In [178]:
s

[('Alexandre', 'Bourget'),
 ('Benoit', 'Xavier'),
 ('Robert', 'Bourget'),
 ('maria', 'Alcide')]

In [179]:
s.sort(key=lambda x: x[0].lower())

In [180]:
s

[('Alexandre', 'Bourget'),
 ('Benoit', 'Xavier'),
 ('maria', 'Alcide'),
 ('Robert', 'Bourget')]

In [183]:
s.sort(key=lambda x: x[::-1], reverse=True)
s

[('Benoit', 'Xavier'),
 ('Robert', 'Bourget'),
 ('Alexandre', 'Bourget'),
 ('maria', 'Alcide')]

In [184]:
s.sort(key=lambda x: (x[1], x[0]), reverse=True)
s

[('Benoit', 'Xavier'),
 ('Robert', 'Bourget'),
 ('Alexandre', 'Bourget'),
 ('maria', 'Alcide')]

In [185]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 55, 66, 77]

In [187]:
a.pop(0)

0

In [188]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 55, 66]

In [191]:
[x for x in a  if x not in (1, 2, 3, 5)]

[4, 6, 7, 8, 9, 44, 55, 66]

In [192]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 55, 66]

In [193]:
a.insert(4, 'boo')

In [194]:
a

[1, 2, 3, 4, 'boo', 5, 6, 7, 8, 9, 44, 55, 66]

### Strings

In [195]:
s = "Hello World"

In [196]:
s.replace('W', 'moo')

'Hello mooorld'

In [199]:
l = "This is a list of words".split()
l

['This', 'is', 'a', 'list', 'of', 'words']

In [200]:
"This-is-a-list-of-words"

'This-is-a-list-of-words'

In [202]:
'**'.join(l)

'This**is**a**list**of**words'

In [203]:
s.capitalize()

'Hello world'

In [204]:
s.lower()

'hello world'

In [205]:
s.upper()

'HELLO WORLD'

In [211]:
s.title()

'Hello World'

In [209]:
s.center(80, '*')

'**********************************Hello World***********************************'

In [210]:
"filename.arch.version.ext".rpartition('.')

('filename.arch.version', '.', 'ext')

In [212]:
" lkas fdl lka fdlk lkjf a    aslfdk lk l      ".strip()

'lkas fdl lka fdlk lkjf a    aslfdk lk l'

In [213]:
" lkas fdl lka fdlk lkjf a    aslfdk lk l      ".lstrip()

'lkas fdl lka fdlk lkjf a    aslfdk lk l      '

In [214]:
" lkas fdl lka fdlk lkjf a    aslfdk lk l      ".rstrip()

' lkas fdl lka fdlk lkjf a    aslfdk lk l'

In [215]:
"Hello {0}, you are {1} years old".format('Alexandre', 123)

'Hello Alexandre, you are 123 years old'

In [216]:
"Hello {name}, you are {years} years old".format(name='Alexandre', years=123)

'Hello Alexandre, you are 123 years old'

In [217]:
"Hello {0:*^20}, you are {years:x} years old".format('Alexandre', years=123)

'Hello *****Alexandre******, you are 7b years old'

In [218]:
"Hello {0:*^20}, you are {years:.2f} years old".format('Alexandre', years=123)

'Hello *****Alexandre******, you are 123.00 years old'

In [221]:
"Hello {0: >20}, you are {years:.2f} years old".format('Alexandre', years=123)

'Hello            Alexandre, you are 123.00 years old'

In [237]:
d = {"name": "Alexandre", "years": 123}

In [240]:
"Hello {0[name]}, you are {0[years]:08b} y.o.".format(d)

'Hello Alexandre, you are 100001011 y.o.'

In [230]:
import os

In [231]:
os.path.exists

In [233]:
"Hello function {mod.exists}".format(mod=os.path)

'Hello function <function exists at 0x7fee87311f30>'

In [234]:
"Hello function {0.exists}".format(os.path)

'Hello function <function exists at 0x7fee87311f30>'

In [242]:
"filename.ext".startswith('filename')

True

In [245]:
"filename.jpeg".endswith(('.jpg', '.jpeg'))

True

In [247]:
"filename.jpg"[-4:] == '.jpg'

True

In [248]:
l

['This', 'is', 'a', 'list', 'of', 'words']

In [252]:
e = ""
for x in l:
    e += '-' + x
e

In [302]:
# r, u, b, 
print(r"S\tring")

S\tring

### Mappings (dict)

In [255]:
d = dict(A=1, B=2, C=3)

In [256]:
d

{'A': 1, 'B': 2, 'C': 3}

In [257]:
len(d)

3

In [258]:
'C' in d

True

In [259]:
d.get('E', 'Something')

'Something'

In [261]:
d.get('E') is None

True

In [262]:
d.copy()

{'A': 1, 'B': 2, 'C': 3}

In [264]:
l = ['AA', 'AB', 'BC', 'BD']

In [265]:
d2 = {'A': ['A', 'B'],
      'B': ['C', 'D']}

In [267]:
output_dictionary = {}
for name in l:
    first_letter = name[0]
    other_letters = name[1:]
    if first_letter not in output_dictionary:
        output_dictionary[first_letter] = []
    output_dictionary[first_letter].append(other_letters)
output_dictionary

{'A': ['A', 'B'], 'B': ['C', 'D']}

In [266]:
output_dictionary = {}
for name in l:
    first_letter = name[0]
    other_letters = name[1:]
    if first_letter not in output_dictionary:
        output_dictionary[first_letter] = [other_letters]
    else:
        output_dictionary[first_letter].append(other_letters)
output_dictionary

{'A': ['A', 'B'], 'B': ['C', 'D']}

In [268]:
l = ['AA', 'AB', 'BC', 'BD']
out = {}
for name in l:
    out.setdefault(name[0], []).append(name[1:])
out

{'A': ['A', 'B'], 'B': ['C', 'D']}

In [269]:
d

{'A': 1, 'B': 2, 'C': 3}

In [270]:
d.items()

dict_items([('A', 1), ('C', 3), ('B', 2)])

In [275]:
next(iter(d.keys()))

'A'

In [272]:
d.values()

dict_values([1, 3, 2])

In [276]:
d.update(dict(C=77, D=88))

In [277]:
# Equivalent to:
#for k, v in second_dict.items():
#    d[k] = v

{'A': 1, 'B': 2, 'C': 77, 'D': 88}

### Sets

In [278]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [279]:
s1 - s2

set([1, 2])

In [282]:
#s1 |= s2
s1.update(s2)
s1

set([1, 2, 3, 4, 5, 6])

In [283]:
s1.isdisjoint(s2)

False

In [284]:
s1

set([1, 2, 3, 4, 5, 6])

In [285]:
s2

set([3, 4, 5, 6])

In [288]:
bool(set())

False

In [296]:
s1.pop()

KeyError: 'pop from an empty set'