# Sets

- unordered collection
- no duplicates 
- can't be indexed by numbers (ex: myset[2])
- used for:
    - membership testing
    - eliminating duplicate entries

In [1]:
letters = set("abcdefghijklmnopqrstuvwxyz")
numbers = set("0123456789")
letters_and_numbers = set("00aa11bb22cc33dd")

print(letters & letters_and_numbers)
print(numbers & letters_and_numbers)
print(numbers | letters_and_numbers)

# the set is constructed using the set() function
cars = set(['porsche', 'volvo', 'volvo', 'porsche', 'yaris', 'zebra'])
print(cars & letters)
print(cars | letters)

{'a', 'b', 'c', 'd'}
{'3', '1', '0', '2'}
{'a', 'b', '2', '3', '8', '0', 'c', '4', '7', '9', '5', '6', '1', 'd'}
set()
{'a', 'n', 'o', 'x', 'j', 'volvo', 'g', 'u', 'v', 'y', 'r', 'i', 'k', 'z', 'd', 'yaris', 'b', 'q', 's', 't', 'l', 'zebra', 'm', 'c', 'p', 'porsche', 'f', 'w', 'e', 'h'}

In [4]:
'a' in letters

True

In [5]:
cars

{'porsche', 'volvo', 'yaris', 'zebra'}

In [8]:
numbers - letters_and_numbers

{'4', '5', '6', '7', '8', '9'}

In [2]:
numbers ^ letters_and_numbers

{'4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd'}

# Exercise

- Using either the literal syntax or the set constructor, construct three sets and assign these to three variables (s1, s2, s3).
    - IMPORTANT: Include some identical items in more than one set to make this interesting!
    - ex: literal syntax: `s1 = {'john', 'jack', 'jerry'}`
    - ex: set constructor syntax: `s2 = set(['james', 'joan'])`
- Print the intersection (&) of s1 and s2
- Print the union (|) of s2 and s3
- Print the union of s1 and s2 and s3
- Print the set difference (-) of s1 and s3
- Print the symmetric difference (^) of s1 and s2
- Update s1 to include a list of at least three people's names from this class
- Remove a single item from s3

In [8]:
s1 = {"John", "Nam", "Phil"}
s2 = {"Nam", "Mike", "James"}
s3 = {"Arthur", "Phil", "John"}

print(s1.intersection(s2))
print(s1.union(s2))
print(s1.union(s2).union(s3))
print(s1.difference(s3))
print(s1.symmetric_difference(s3))

{'Nam'}
{'Mike', 'John', 'Nam', 'Phil', 'James'}
{'Arthur', 'Mike', 'John', 'Nam', 'Phil', 'James'}
{'Nam'}
{'Nam', 'Arthur'}

In [9]:
s1.update(["Joe", "Horace", "Zephyr"])

In [10]:
s1

{'Horace', 'Joe', 'John', 'Nam', 'Phil', 'Zephyr'}

In [12]:
s3.remove('Phil')

In [13]:
s3

{'Arthur', 'John'}