# Sets

- unordered collection
- no duplicates 
- can't be indexed by numbers (ex: myset[2])
- used for:
    - membership testing
    - eliminating duplicate entries

In [1]:
letters = set("abcdefghijklmnopqrstuvwxyz")
numbers = set("0123456789")
letters_and_numbers = set("00aa11bb22cc33dd")

print(letters & letters_and_numbers)
print(numbers & letters_and_numbers)
print(numbers | letters_and_numbers)

# the set is constructed using the set() function
cars = set(['porsche', 'volvo', 'volvo', 'porsche', 'yaris', 'zebra'])
print(cars & letters)
print(cars | letters)

{'d', 'b', 'c', 'a'}
{'2', '3', '0', '1'}
{'6', '7', '4', '5', '2', '3', '0', '1', '8', '9', 'd', 'b', 'c', 'a'}
set()
{'zebra', 'yaris', 'porsche', 'v', 'w', 't', 'u', 'r', 's', 'p', 'q', 'volvo', 'z', 'x', 'y', 'f', 'g', 'd', 'e', 'b', 'c', 'a', 'n', 'o', 'l', 'm', 'j', 'k', 'h', 'i'}

In [4]:
'a' in letters

True

In [5]:
cars

{'porsche', 'volvo', 'yaris', 'zebra'}

In [8]:
numbers - letters_and_numbers

{'4', '5', '6', '7', '8', '9'}

In [2]:
numbers ^ letters_and_numbers

{'4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd'}

# Exercise

- Using the set() function, construct three sets and assign these to three variables (s1, s2, s3).
    - IMPORTANT: Include some identical items in more than one set to make this interesting!
    - ex: literal syntax: `s1 = {'john', 'jack', 'jerry'}`
    - ex: set constructor syntax: `s2 = set(['james', 'joan'])`
- Print the intersection (&) of s1 and s2
- Print the union (|) of s2 and s3
- Print the union of s1 and s2 and s3
- Print the set difference (-) of s1 and s3
- Print the symmetric difference (^) of s1 and s2
- Update s1 to include a list of at least three people's names from this class
- Remove a single item from s3