In [1]:
class Car:
    def __init__(self, model="Ferrari", year=1987):
        self.model = model
        self.year = year
        
    def __add__(self, other):
        return Car(self.model + other.model, self.year + other.year)
    
    def honk(self):
        return "Regular car honk... BORING!"
    
    def park(self):
        return "Regular car parking procedure..."
    
class ElectricCar(Car):
    def __init__(self, model="Prius", ecell_model="v2"):
        super().__init__(model)
        self.ecell_model = ecell_model
        
    def honk(self):
        return "Electric Car Honk!"
    
    def park(self):
        return super().park() + " with an ELECTRIC twist!"
        
        
    

c = Car('Pinto', 2031)
ec = ElectricCar()
print(ec.honk())
print(c.honk())

c3 = c + ec
print(c3.model, c3.year)
ec.park()

Electric Car Honk!
Regular car honk... BORING!
PintoPrius 4018

'Regular car parking procedure... with an ELECTRIC twist!'

In [7]:
import random


class Employee:
    """An employee with a name and an age."""
    def __init__(self, name="Nameless Employee", age=42):
        self.name = name
        self.age = age
        print("New employee instantiated:", self.name, self.age)
    
    def grow_older(self):
        self.age += 5
        print('New age: {}'.format(self.age))
    
    def am_i_old(self):
        if self.age > 100:
            print('Yes, very.')
        else:
            print("Nah! You're still a young spring chicken!")
    
    def other(self):
        print('this is another method')
    
    def funny(self):
        print('How many programmers does it take to screw in a lightbulb?')

        
class SFLEmployee(Employee):
    """An employee of Savoir-faire Linux, with a name, age, and SFLid."""
    def __init__(self, name='SFL Employee', age=99, sflid=None):
        super().__init__(name, age)
        self.sflid = sflid or random.randrange(999999)
        print('New SFLEmployee created: ', self.sflid, self.name, self.age)
        
    def autre(self):
        super().other()
        print('Other stuff')

In [8]:
e1 = Employee('John Gosset', 22)
e2 = Employee('Jerry Grapes', 99)

e2.grow_older()
e2.am_i_old()

print(e1.name)
e1.name = "Jack Nicklaus"
print(e1.name)

New employee instantiated: John Gosset 22
New employee instantiated: Jerry Grapes 99
New age: 104
Yes, very.
John Gosset
Jack Nicklaus

In [10]:
e1

In [7]:
e2 = SFLEmployee()
e2.other()
e2.funny()
e2.autre()

New employee instantiated: SFL Employee 99
New SFLEmployee created:  158215 SFL Employee 99
this is another method
How many programmers does it take to screw in a lightbulb?
this is another method
Other stuff

In [14]:
e = Employee(age=99999)

New employee instantiated: Nameless Employee 99999

In [17]:
print(e.name)
print(e.age)

Nameless Employee
99999

In [8]:
Employee?

In [30]:
se = SFLEmployee('George', 49)

New SFLEmployee created:  747864 George 49

In [33]:
se2 = SFLEmployee()

New SFLEmployee created:  78038 SFL Employee 99

In [34]:
se2.autre()

ceci est une autre methode
Other stuff

# Exercise

- Using the class keyword, create a class and subclass of your choosing
    - IMPORTANT: make them relevant to your day-to-day work!
    - don't forget to include at least a constructor method (`__init__`) on your parent class
- Create a class instance for your class and subclass, and store them each in one variable
- Inspect the attributes and invoke the methods of your class instances via the console or within your script

## Naming objects in Python

    Modules: DON'T USE HYPHENS IN MODULE NAMES!! (use CapWords, or underscores if you must)
    Classes, Packages: CapWords
    Functions, methods, variables: snake_case
    Constants: ALL_CAPS_SNAKE_CASE

# Overriding special methods

Use [section 3.4](https://docs.python.org/3.6/reference/datamodel.html#special-method-names) of the **language reference** as a reference for special methods that can be overridden.

C.f. the [property built-in](https://docs.python.org/3/library/functions.html#property)

In [2]:
class Dinosaur:
    def __init__(self, name='Diplodocus', age=100):
        self._name = name
        self.age = age
        print('New dino defined: {}'.format(self.name))
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, newname):
        self._name = newname
    
    @name.deleter
    def name(self):
        del self._name
    
    def __add__(self, other):
        name = self.name + other.name
        return Dinosaur(name + ' SuperDinosaur')
    
    def __sub__(self, other):
        """Turn a SuperDinosaur into a regular ol' dinosaur."""
        return Dinosaur(age=self.age * 2  - other.age)
    
    def __iadd__(self, other):
        self.name = self.name + other.name
        print('New value of self.name: {}'.format(self.name))
        return self
    
    def __eq__(self, other):
        return self.__dict__ == other.__dict__
    
    def __repr__(self):
        return '<Dinosaur: {}>'.format(self.name)
    
    def roar(self):
        print(self.name + ' says RRRRRRRRRRR!')
        
class Tyranosaurus(Dinosaur):
    def make_noise(self):
        print('TYRANOSAURUS NOISE!')

class Diplodocus(Dinosaur):
    def make_noise(self):
        print('DIPLODOCUS NOISE!')

class TyranoDiplodocus(Diplodocus, Tyranosaurus):
    def and_another_thing(self):
        pass

In [3]:
td = TyranoDiplodocus('Jerry')
td.make_noise()

New dino defined: Jerry
DIPLODOCUS NOISE!

In [19]:
d1 = Dinosaur('Teradactyl')
d2 = Dinosaur('Tyranosaurus')
d3 = d1 + d2

New dino defined: Teradactyl
New dino defined: Tyranosaurus
New dino defined: TeradactylTyranosaurus SuperDinosaur

In [21]:
d3 = d2 - d1
d3.age

New dino defined: Diplodocus

0

In [12]:
print(d1.__dict__)
print(d1)

{'_name': 'Teradactyl'}
<Dinosaur: Teradactyl>

In [13]:
td = TyranoDiplodocus()
td.make_noise()
print(td.__class__.__mro__)

New dino defined: Diplodocus
TYRANOSAURUS NOISE!
(<class '__main__.TyranoDiplodocus'>, <class '__main__.Tyranosaurus'>, <class '__main__.Diplodocus'>, <class '__main__.Dinosaur'>, <class 'object'>)

In [15]:
d = Dinosaur()

New dino defined: Diplodocus

In [17]:
print(d.name)
d.

Diplodocus

# Exercise

Using the class and subclass you created in the previous exercise:
- override 3 special methods for the parent
- override 3 different special methods for the child
- make use of the special methods you overrode in your script and ensure the behaviour is what you expect

In [11]:
td = TyranoDiplodocus('Roger')

New dino defined: Roger

In [13]:
print(td.__class__.__mro__)
td.make_noise()

(<class '__main__.TyranoDiplodocus'>, <class '__main__.Tyranosaurus'>, <class '__main__.Diplodocus'>, <class '__main__.Dinosaur'>, <class 'object'>)
TYRANOSAURUS NOISE!

In [51]:
d1 = Dinosaur('Tyranosaurus')
d2 = Dinosaur('Raptor')

d3 = d1 + d2
print d3.name
print d3

d4 = Dinosaur()
print d4

New dino defined: Tyranosaurus
New dino defined: Raptor
New dino defined: TyranosaurusRaptor SuperDinosaur
TyranosaurusRaptor SuperDinosaur
<Dinosaur: TyranosaurusRaptor SuperDinosaur>
New dino defined: Diplodocus
<Dinosaur: Diplodocus>

In [52]:
ddd = d3 - d1

New dino defined: TyranosaurusRaptor

In [101]:
d3 += d1

New value of self.name: TyranosaurusRaptor SuperDinosaurTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurus

In [102]:
55 == 55

True

In [105]:
print d1.__dict__
print d3.__dict__

{'name': 'Tyranosaurus'}
{'name': 'TyranosaurusRaptor SuperDinosaurTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurus'}

In [106]:
d3.blahblahblah = 123
print d3.__dict__

{'blahblahblah': 123, 'name': 'TyranosaurusRaptor SuperDinosaurTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurusTyranosaurus'}

In [109]:
d1 = Dinosaur('Triceratops')
d2 = Dinosaur('Triceratops')
print d1 == d2

New dino defined: Triceratops
New dino defined: Triceratops
True

In [12]:
class Person:
    def __init__(self, name="Nameless Person", age=55):
        self.name = name
        self.age = age

class Employee(Person):
    def __init__(self, ename="Mr. Employee", eage=99, eid=777):
        super().__init__(age=eage, name=ename)
        self.eid = eid
    
    def speak(self, words="Hey there, Employee here!"):
        print(words)

class Client(Person):
    def speak(self, words="Hi, Client here!"):
        print(words)
        
class EmployeeClient(Employee, Client):
    def __init__(self, name='Mr. EC', age=66, buyer_id=123):
        super().__init__(name, age, eid=123123)
        self.buyer_id = buyer_id
    
    def buy(self):
        print("Buying things")

In [15]:
ec = EmployeeClient(name='John Gosset')
ec.speak()
ec.buy()
print('Name: {} Age: {} BID: {} EID: {}'.format(
    ec.name, ec.age, ec.buyer_id, ec.eid))

Hey there, Employee here!
Buying things
Name: John Gosset Age: 66 BID: 123 EID: 123123